# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/*
!media/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Environment
.env
.env.*
!.env.example
venv/
env/
ENV/

# Static (coletados pelo collectstatic)
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
