<div class="ds-modal-fundo">
  <div class="ds-modal">
    <div class="ds-modal-titulo">
      <span>Não foi possível</span>
      <button type="button" class="ds-modal-fechar" onclick="document.getElementById('modal-container').innerHTML=''">&times;</button>
    </div>
    <div class="ds-modal-erro">{{ erro }}</div>
    <div class="pl-form-acoes">
      <button type="button" class="ds-btn ds-btn--outline" onclick="document.getElementById('modal-container').innerHTML=''">Fechar</button>
    </div>
  </div>
</div>
