<div{% include 'django/forms/widgets/attrs.html' %}>
  <p style="color:#666;font-size:0.83rem;margin:0 0 0.5rem;">
    Senha cadastrada. Use o botão abaixo para alterá-la.
  </p>
  <ul style="margin:0 0 0.6rem;padding-left:1.2rem;color:#888;font-size:0.78rem;line-height:1.7;">
    <li>Mínimo 8 caracteres</li>
    <li>Pelo menos 1 letra maiúscula</li>
    <li>Pelo menos 1 número</li>
    <li>Pelo menos 1 caractere especial (!@#$...)</li>
    <li>Não pode ser igual ao e-mail</li>
  </ul>
  <p><a class="button" href="{{ password_url|default:"../password/" }}">{{ button_label }}</a></p>
</div>
